.gradient-text {
  background: linear-gradient(to right, rgb(18, 86, 233), rgb(18, 211, 137), rgb(161, 10, 231));
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem; /* Ajuste o tamanho conforme necessário */
  font-weight: bold; /* Ajuste o peso da fonte se necessário */
}